---
import Layout from '../layouts/Layout.astro';
import HeaderLanding from "../components/landing/header"
import DvutieuBieu from "../components/landing/Dvutieubieu"
import Sphamtieubieu from "../components/landing/SphamTieubieu"
import ContentSection from "../components/landing/content"
import BasicSection from "../components/landing/Tintuc"
import FooterSection from "../components/landing/footer"
---

<Layout title="Landing Page">
	<main>
    <HeaderLanding client:only="react" />
    <DvutieuBieu client:only="react" />
    <Sphamtieubieu client:only="react" />
    <ContentSection client:only="react" />
    <BasicSection client:only="react" />
    <FooterSection client:only="react" />
  </main>
</Layout>